h1{
  color: white;
  font-family: helvetica
}

p{
  font-family: helvetica;
  color: #D3D3D3
}

h3{
  font-family:helvetica; sans-serif;
  font-size: 10px;
  color:#D3D3D3
}

h2{
  color: #D3D3D3
}

body{
  background: url("http://science-all.com/images/wallpapers/wallpaper-space/wallpaper-space-17.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
}
