body{
  margin-left: 5 px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right:5px;
  border: 0px;
  padding: 0px;
}

.name{
  color: #DBDBDB;
  font-family: helvetica
}

.titlecontact{
  text-align: center;
  color: #DBDBDB;
  font-family: helvetica
}

.icons{
  width:250px;
  height: auto;
}

.container{
  left: 0;
     line-height: 22px;
     margin: auto;
     margin-top: -75px;
     padding: 10px;
     position: absolute;
     top: 50%;
     width: 100%;
}

.name{
  text-align: center;
}

.quote{
  text-align: center;
  padding: 0px;
}

nav li{
  display: inline;
  margin: 10px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  text-decoration: none;
}

nav ul{
  flex-wrap: wrap;
  text-align: right;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  border: 0px;
  display: inline;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 50px;
  font-family: helvetica;

}

a:link{
  color:#EDEDED
}

a:visited{
  color:#EDEDED
}

a:hover{
  text-decoration: underline;
}

a:active{
  color:lightblue
  text-decoration: underline;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:hover{

}

a:link {
    padding: 10px 15px;
    background: #0082DCFA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px;
    opacity: 100%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
a:hover {
    background: #0D0D0D;
    border: solid 1px #0D0D0D;
    text-decoration: none;
}
a:active{
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #0D0D0D;
    border: solid 1px #0D0D0D;
}

p{
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 100px;
  margin-right: 100px;
  border-left-width: thick;
  border-right-width: thick;
  font-family: helvetica;
  color: #EDEDED
}

h3{
  font-family:helvetica; sans-serif;
  font-size: 10px;
  color:#D3D3D3
}

h2{
  color: #D3D3D3
}

h4{
  color: #D3D3D3
}

.me{
  text-align: center;
  color: #DBDBDB;
  font-family: helvetica
}

.paragraph{
  text-align: center;
  margin: 10px;
  content: none;
}

.me{
  left: 0;
     line-height: 22px;
     margin: auto;
     margin-top: -125px;
     position: absolute;
     top: 50%;
     width: 100%;
}



.paragraph{
  left: 0;
     line-height: 10px;
     margin: auto;
     margin-top: -85px;
     position: absolute;
     top: 50%;
     width: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background: ('http://science-all.com/images/wallpapers/wallpaper-space/wallpaper-space-17.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(95%);
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
}
